.coverage
.env
.git/
.idea/
.pytest_cache/
.run/
# .vscode/
_build/
*.code-workspace
*.db
*.egg-info/
*.sqlite
*-workspace
**/*.egg-info/
**/__pycache__/
**/Archive/
**/desktop.ini
**/*.py.isorted
**/VersionArchive/
build/
coverage.xml
dist/
docs/build/
docs/_build/
docs/source/generated/
htmlcov/
testResults.xml
tmp/

